@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{padding: 0px;
margin: 0px;}

/* START LANDING PAGE */
.background{
    position: fixed;
    background-image: url(./Images/background.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(2px) brightness(40%) contrast(110%);
}
.header{
    text-align: center;
    padding: 10vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header p{
    font-size: 3vh;
    color: white;
    font-family: Caveat;
}
.highlight{
    font-size: 3vh;
    color:chocolate;
    font-family: Caveat;
}
.header h1{
    font-size: 8vh;
    font-family:Sedgwick Ave Display;
    color: goldenrod;
    text-shadow: 7px 7px 5px black;
}
#pie{
    color: rgb(156, 38, 38);
}
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    padding-bottom: 10vh;
}
#img1{
    height: 38vh;
    width: 35vw;
    filter: blur(1px) opacity(80%);
    padding-right: 10%;
}
#img1.active{
    transform: translateX(0);
}
#img2{
    top: 27vh;
    left: 27vw;
    position: absolute;
    height: 50vh;
    width: 47vw;
    z-index: 1;
    box-shadow: 15px 15px 15px black;
}
#img3{
    height: 38vh;
    width: 35vw;
    filter: blur(1px) opacity(80%);
    padding-left: 10%;
}
#btnL{
    height: 3vh;
    width: 2vw;

}
#btnR{
    height: 3vh;
    width: 2vw;
}
/* END LANDING PAGE */

/* START ANIMATIONS */

@keyframes slideLeft{
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    50% {
        transform: translateX(-1%);
        opacity: 0.2;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideRight{
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    50% {
        transform: translateX(1%);
        opacity: 0.2;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


/* END ANIMATIONS*/
