@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

/* START LANDING PAGE */
.background{
    position: fixed;
    background-image: url(./Images/background.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -2;
    filter: blur(2px) brightness(40%) contrast(110%);
}
.header{
    text-align: center;
    padding: 10vh;
    margin-bottom: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header p{
    font-size: 3vh;
    color: white;
    font-family: Caveat;
}
.highlight{
    font-size: 3vh;
    color:chocolate;
    font-family: Caveat;
}
.header h1{
    font-size: 8vh;
    font-family:Sedgwick Ave Display;
    color: goldenrod;
    text-shadow: 7px 7px 5px black;
}
#pie{
    color: rgb(156, 38, 38);
}
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    padding-bottom: 10vh;
}
#img1{
    height: 38vh;
    width: 35vw;
    filter: blur(1px) opacity(80%);
    padding-right: 10%;
}
#img1.active{
    transform: translateX(0);
}
#img2{
    top: 27vh;
    left: 27vw;
    position: absolute;
    height: 50vh;
    width: 47vw;
    z-index: 1;
    box-shadow: 15px 15px 15px black;
}
#img3{
    height: 38vh;
    width: 35vw;
    filter: blur(1px) opacity(80%);
    padding-left: 10%;
}
#btnL{
    height: 3vh;
    width: 2vw;

}
#btnR{
    height: 3vh;
    width: 2vw;
}
/* END LANDING PAGE */


/* QUOTES START */
.quotes{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.glassQuotes{
    height: 88vh;
    width: 93vw;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    /*-webkit-backdrop-filter: blur(50px);*/
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    z-index: 0;
}
.container2{
    height: 88vh;
    width: 93vw;
    display: flex;
    align-items: center;
}
.gifChef{
    padding-left: 6vh;
}
.quotesDisplay{
    display: flex;
    align-items: center;
    margin-left: 3vw;
    padding: 3%;
    height: 60vh;
    width: 45vw;
    font-family:cursive;
    font-size: 5vh;
    color: rgba(255, 255, 255, 0.736);
    border-radius: 5vh;
    text-shadow: 5px 5px 5px black;
    background: rgba(51, 56, 58, 0.389) linear-gradient(140deg, rgba(0, 0, 0, 0.126), rgba(128, 128, 128, 0.006));
    border: 4px black dashed;
    backdrop-filter: blur(20px);
}
#nextQuoteButton {
    height: 6vh;
    width: 2vw;
    z-index: 1;
}
/* QUOTES END*/

/* GRID START */
.foodGrid{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.glassGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
    width: 93vw;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    /*-webkit-backdrop-filter: blur(50px);*/
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    z-index: -1;
}
.glassGrid h2{
    color: rgb(156, 38, 38);
    text-shadow: 5px 5px 5px black;
    font-size: 6vh;
    padding: 3vh;
    font-family: Sedgwick Ave Display;
}
.container3{
    margin: 1vw;
    height: 72vh;
    width: 73vw;
    display: grid;
    grid-template-rows: repeat(3, 22vh);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 7vh;
    gap: 0.8rem;
    --stagger-delay: 100ms;
}


.container3 img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
}


.item1{
    background-color: transparent;    
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
}
.item2{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.1s;

}
.item3{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.2s;
}
.item4{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
}
.item5{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.4s;
}
.item6{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}
.item7{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.6s;
}
.item8{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.7s;
}
.item9{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.8s;
}
.item10{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0.9s;
}
.item11{
    background-color: transparent;
    animation: fadeIn 1000ms ease-in-out;
    grid-column: span 2;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}
/* GRID END */

/*FOOD ITEMS START*/
.foodItems{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.glassItem{
    height: 90vh;
    width: 93vw;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
}
/*FOOD ITEMS  END*/

/* FOOTER START */

/* FOOTER END */
.footer{
    display: flex;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
}

.footerGlass{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px black;
    border: 1px solid rgba(0, 0, 0, 0.336);
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.footerGlass h3{
    align-self: flex-start;
    color: rgba(255, 255, 255, 0.797);
    text-shadow: 2px 2px 15px grey;
    padding: 3vh;
    padding-left: 7vw;
    font-size: 6vh;
}

.container4{
    display: flex;
    height: 65vh;
    width: 95vw;
    align-items: center;
    justify-content: center;
}

.container4 .p1{
    height: 27vh;
    width: 45vw;
    color: rgba(255, 255, 255, 0.797);
    font-size: 3.5vh;
}
.container4 .p2{
    height: 20vh;
    width: 45vw;
    color: rgba(255, 255, 255, 0.797);
    font-size: 3.5vh;
}

.gifContactUs{
    align-self: flex-start;
    height: 50vh;
    width: 40vw;
}

.gifContactUs img{
    height: 48vh;
    width: 38vw;
    padding-left: 6vh;
}
#mailUs{
    height: 8vh;
    width: 8vw;
    padding-top: 4vh;
}

#mailUs:hover {
    transform: translateY(-7%);
    transform: scale(1.2);
}

/* START ANIMATIONS */
@keyframes slideLeft{
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    50% {
        transform: translateX(-1%);
        opacity: 0.2;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideRight{
    0% {
        transform: translateX(0%);
        opacity: 0;
    }
    50% {
        transform: translateX(1%);
        opacity: 0.2;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform: scale(0.3);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes textAnimate{
    0% {
        opacity: 0.2;
        transform: translateX(-2.5%) translateY(5.5%);
    }
    25% {
        opacity: 0.4;
        transform: translateX(-1.5%) translateY(-4.5%);
    }
    50% {
        opacity: 0.6;
        transform: translateX(-1%) translateY(2%);
    }    
    75% {
        opacity: 0.8;
        transform: translateX(-0.3%) translateY(-1%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%) translateY(0%);
    }
}

/* END ANIMATIONS*/
